.loading .nk-feature-img, .nk-content {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.loading .nk-feature-img::before{
    background-color: #ddd;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.loading .nk-feature-img::after {    
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #ddd, #fff 50%, #ddd);
    animation: skeletonLoading 2s infinite;
}

.loading .nk-content {
    background-color: #559bfb;
    content: '';
    width: auto;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.loading .nk-content::after {
    background-color: #559bfb;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #ddd, #fff 50%, #ddd);
    animation: skeletonLoading 2s infinite;
}

@keyframes skeletonLoading {
    from{
        left: -50%;
    } to {
        left: 50%;
    }
}

.hidden{
    visibility: hidden !important;
}

.h-max-580px{
    max-height: 580px !important;
}

.overflow-y-hidden{
    overflow-y: hidden;
}
