/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
public/images/issue/
public/images/avatar/
public/images/board/
resources/views/layouts/board/noticeadd.blade.php
resources/views/layouts/board/notice.blade.php
resources/views/layouts/board/category-list.blade.php
resources/views/layouts/board/faq.blade.php
public/images/images.7z
public/images/Sr-Board/images.7z
